@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable

<a href="cartdetails" class="btn btn-info">
    <i class="oi oi-cart"></i>    
    <span class="badge">@GetCartItemsCount()</span>
</a>

@code{
    private int GetCartItemsCount()
    {
        var count = LocalStorage.GetItem<int>("cartItemCount");
        return count;
    }

    protected override void OnInitialized()
    {
        CartService.CartChanged += StateHasChanged;
    }
    public void Dispose()
    {
        CartService.CartChanged -= StateHasChanged;
    }
}